# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
.env
venv/
ENV/
env/
.venv/

# Streamlit secrets (DO NOT COMMIT)
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/
